<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">

  <ion-content>

    <label class='item item-input'>

      <span class='input-label'> Anesthesiologist: </span>

      <input type='text' name='dr' ng-model='chat.anesthesiologist' ng-readonly='chat.anesthesiologist'>

    </label>


    <label class='item item-input'>

      <span class='input-label'> CRNA/AA: </span>

      <input type='text' name='crna' ng-model='chat.crna' ng-readonly='chat.crna'>

    </label>


    <label class='item item-input'>

      <span class='input-label'> Patient: </span>

      <input type='text' name='patient' ng-model='chat.name' ng-readonly='chat.name'>

    </label>


    <label class='item item-input'>

      <span class='input-label'> Date Of Service: </span>

      <input type='date' name='dos' ng-model='chat.dos' ng-readonly='chat.dos'>

    </label>


    <label class='item item-input'>

      <span class='input-label'> MRN: </span>

      <input type='number' name='mrn' ng-model='chat.mrn' ng-readonly='chat.mrn'>

    </label>


    <ion-list>

      <ion-item class='item item-text-wrap'> ASA 10: Composite Anesthesia Safety </ion-item>

    </ion-list>


    <label class='item item-input'>

      <ion-radio class='item item-text-wrap' name='ASA10' ng-model='chat.ASA10A' ng-disabled='disabled'>ASA10A: No serious adverse event</ion-radio>

    </label>

    <label class='item item-input'>

      <ion-radio class='item item-text-wrap' name='ASA10' ng-value='chat.ASA10B' ng-disabled='disabled'>ASA10B: Serious adverse event</ion-radio>

    </label>


    <ion-list>

      <ion-item class='item item-text-wrap'> ASA 11: Perioperative Cardiac Arrest (in the O.R or PACU) </ion-item>

    </ion-list>


    <label class='item item-input'>

      <ion-radio class='item item-text-wrap' name='ASA11' ng-model='chat.ASA11A' ng-disabled='disabled'>Pt experienced cardiac arrest</ion-radio>

    </label>


    <label class='item item-input'>

      <ion-radio class='item item-text-wrap' name='ASA11' ng-model='chat.ASA11B' ng-disabled='disabled'>No cardiac arrest</ion-radio>

    </label>


  <ion-list>

    <ion-item class='item item-text-wrap'> ASA 12: Perioperative Mortality (in the O.R or PACU) </ion-item>

  </ion-list>


  <label class='item item-input'>

    <ion-radio class='item item-text-wrap' name='ASA12' ng-model='chat.ASA12A' ng-disabled='disabled'>ASA12A: Patient died</ion-radio>

  </label>


  <label class='item item-input'>

    <ion-radio class='item item-text-wrap' name='ASA12' ng-model='chat.ASA12B' ng-disabled='disabled'>ASA12B: Patient did not die</ion-radio>

  </label>


    <ion-list>

      <ion-item class='item item-text-wrap'>ASA 13: PACU Reintubation Rate (Check all that apply) </ion-item>

    </ion-list>


    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='ASA13' ng-model='chat.ASA13H' ng-disabled='disabled'>ASA13H: Procedure under General Anesthesia by an SGA or ETT</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='ASA13' ng-model='chat.ASA13J' ng-disabled='disabled'>ASA13J: SGA or ETT was removed in OR or PACU</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='ASA13' ng-model='chat.ASA13A' ng-disabled='disabled'>ASA13A: chat required new airway management prior to PACU D/C</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='ASA13' ng-model='chat.ASA13B' ng-disabled='disabled'>ASA13B: Pt did not require new airway management</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='ASA13' ng-model='chat.ASA13G' ng-disabled='disabled'>ASA13G: Pt received a planned trial of extubation</ion-checkbox>

    </label>


    <ion-list>

      <ion-item class='item item-text-wrap'>ASA 14: Short Term Pain Management (Age 10 and over; Check all that apply) </ion-item>

    </ion-list>


    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='ASA14' ng-model='chat.ASA14H' ng-disabled='disabled'>ASA14H: Pt assessed for pain in PACU</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='ASA14' ng-model='chat.ASA14B' ng-disabled='disabled'>ASA14B: Initial pain score < 7 out of 10</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='ASA14' ng-model='chat.ASA14A' ng-disabled='disabled'>ASA14A: Initial pain score >= 7 out of 10</ion-checkbox>

    </label>


    <ion-list>

      <ion-item class='item item-text-wrap'>ASA 20: Surgical Safety Checklist (Check all that apply) </ion-item>

    </ion-list>


    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='ASA20' ng-model='chat.ASA20C' ng-disabled='disabled'>ASA20C: Pt underwent a surgical procedure under general anesthesia</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='ASA20' ng-model='chat.ASA20A' ng-disabled='disabled'>ASA20A: All applicable safety checks performed before induction of anesthesia</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='ASA20' ng-model='chat.ASA20B' ng-disabled='disabled'>ASA20B: All applicable safety checks NOT performed before induction of anesthesia</ion-checkbox>

    </label>


    <ion-list>

      <ion-item class='item item-text-wrap'>ASA 35: Day of Surgery Case Cancellation Rate (Check all that apply) </ion-item>

    </ion-list>


      <label class='item item-input'>

        <ion-checkbox class='item item-text-wrap' name='ASA35' ng-model='chat.ASA35A' ng-disabled='disabled'>ASA35A: Elective surgical procedure to be performed under anesthesia</ion-checkbox>

      </label>

      <label class='item item-input'>

        <ion-checkbox class='item item-text-wrap' name='ASA35' ng-model='chat.ASA35B' ng-disabled='disabled'>ASA35B: Patient arrived at the facility</ion-checkbox>

      </label>

      <label class='item item-input'>

        <ion-checkbox class='item item-text-wrap' name='ASA35' ng-model='chat.ASA35C' ng-disabled='disabled'>ASA35C: Elective surgical procedure was cancelled for any reason on the day of surgery after patient arrived at the facility</ion-checkbox>

      </label>

      <label class='item item-input'>

        <ion-checkbox class='item item-text-wrap' name='ASA35' ng-model='chat.ASA35D' ng-disabled='disabled'>ASA35D: Elective surgical procedure was not cancelled</ion-checkbox>

      </label>


    <ion-list>

      <ion-item class='item item-text-wrap'>PQRS 76: Prevention of CVC related Bloodstream Infection </ion-item>

    </ion-list>


    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS76' ng-model='chat._6030F' ng-disabled='disabled'>6030F: All elements of Maximal Sterile Barrier techniques followed</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS76' ng-model='chat._6030F_1P' ng-disabled='disabled'>6030F 1P: All elements of Maximal Sterile Barrier techniques followed</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS76' ng-model='chat._6030F_8P' ng-disabled='disabled'>6030F 8P: Maximal Sterile Barrier techniques not followed, not otherwise specified</ion-checkbox>

    </label>


    <ion-list>

      <ion-item class='item item-text-wrap'>PQRS 404: Smoking Abstinence (Age 18 or over; Check all that apply)</ion-item>

    </ion-list>


    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS404' ng-model='chat.G9642' ng-disabled='disabled'>G9642: Current Cigarrete Smoker</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS404' ng-model='chat.G9643' ng-disabled='disabled'>G9643: Elective Surgery</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS404' ng-model='chat.G9697' ng-disabled='disabled'>G9697: Seen preoperatively by anesthesiologist or proxy PRIOR TO DAY OF SURGERY and advised not to smoke before surgery</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS404' ng-model='chat.G9644' ng-disabled='disabled'>G9644: Pt abstained from smoking</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS404' ng-model='chat.G9645' ng-disabled='disabled'>G9645: Pt DID NOT abstain from smoking on the day of the surgery</ion-checkbox>

    </label>


    <ion-list>

      <ion-item class='item item-text-wrap'>PQRS 424: Perioperative Temp. Mgmt (GA or Neuraxial; Check all that apply)</ion-item>

    </ion-list>


    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS424' ng-model='chat._4255F' ng-disabled='disabled'>4255F: Anesthesia of 60 min. duration or longer</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS424' ng-model='chat._4259F' ng-disabled='disabled'>4259F: Temp of at least 35.5 degrees Celcius taken 30 min. before or 15 min. immediately following anesthesia end time</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS424' ng-model='chat._4559F_1P' ng-disabled='disabled'>4559F 1P: Medical reason(s) for not achieving at least 1 body temperature measurement equal to or greater than 35.5 degrees Celcius within the 30 min. immediately before or the 15 min. immediately after anesthesia end time (e.g, Emergency cases, Intentional hypothermia, etc.)</ion-checkbox>

    </label>

      <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS424' ng-model='chat._4559F_8P' ng-disabled='disabled'>4559F 8P: Temp of 35.5 degrees Celcius not recorded 30 min. before or 15 min. immediately following anesthesia end time, not otherwise specified</ion-checkbox>

    </label>


    <ion-list>

      <ion-item class='item item-text-wrap'>PQRS 426: Transfer of Care to PACU (Check all that apply)</ion-item>

    </ion-list>


    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS426' ng-model='chat.G9656' ng-disabled='disabled'>G9656: Pt transferred directly from anesthetizing location to PACU</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS426' ng-model='chat.G9657' ng-disabled='disabled'>G9657: Transfer of care during an anesthetic to the ICU</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS426' ng-model='chat.G9655' ng-disabled='disabled'>G9655: Transfer of care checklist or protocol used</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS426' ng-model='chat.G9658' ng-disabled='disabled'>G9658: Transfer of care checklist or protocol NOT used</ion-checkbox>

    </label>


    <ion-list>

      <ion-item class='item item-text-wrap'>PQRS 427: Post-Anesthetic Transfer of Care (Check all that apply)</ion-item>

    </ion-list>


    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS427' ng-model='chat._0581F' ng-disabled='disabled'>0581F: Pt transferred directly from anesthetizing location to critical care unit</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS427' ng-model='chat._0583F' ng-disabled='disabled'>0583F: Transfer of care checklist or protocol used</ion-checkbox>

    </label>

    <label class='item item-input'>

      <ion-checkbox class='item item-text-wrap' name='PQRS427' ng-model='chat._0583F_8P' ng-disabled='disabled'>0583F 8P: Transfer of care checklist or protocol NOT used</ion-checkbox>

    </label>

    <ion-item>

      <button class='button button-full' ng-click='editFields()'>
        Edit
      </button>

    </ion-item>

  </ion-content>

</ion-view>
