// The main view for inputting form data.

<ion-view view-title='New Case'>

  <ion-content>

    <label class='item item-input'>

      <span class='input-label'> Anesthesiologist: </span>

      <input type='text' name='first'>

    </label>


    <label class='item item-input'>

      <span class='input-label'> CRNA/AA: </span>

      <input type='text' name='first'>

    </label>


    <label class='item item-input'>

      <span class='input-label'> Patient: </span>

      <input type='text' name='patient'>

    </label>


    <label class='item item-input'>

      <span class='input-label'> Date Of Service: </span>

      <input type='date' name='dos'>

    </label>


    <label class='item item-input'>

      <span class='input-label'> MRN: </span>

      <input type='number' name='first'>

    </label>


    <ion-list>

      <ion-item class='item item-text-wrap'> ASA 10: Composite Anesthesia Safety </ion-item>

    </ion-list>

    <div ng-repeat='(name, value) in ASA10'>

      <label class='item item-input'>

            <ion-radio class='item item-text-wrap' name='ASA10'>{{name}}: {{value}}</ion-radio>

      </label>

    </div>

      <ion-list>

        <ion-item class='item item-text-wrap'> ASA 11: Perioperative Cardiac Arrest (in the O.R or PACU) </ion-item>

      </ion-list>

      <div ng-repeat='(name, value) in ASA11'>

        <label class='item item-input'>

            <ion-radio class='item item-text-wrap' name='ASA11'>{{name}}: {{value}}</ion-radio>

        </label>


      </div>

        <ion-list>

          <ion-item class='item item-text-wrap'> ASA 12: Perioperative Mortality (in the O.R or PACU) </ion-item>

       </ion-list>

      <div ng-repeat='(name, value) in ASA12'>

        <label class='item item-input'>

            <ion-radio class='item item-text-wrap' name='ASA12'>{{name}}: {{value}}</ion-radio>

      </label>

    </div>


    <ion-list>

      <ion-item class='item item-text-wrap'>ASA 13: PACU Reintubation Rate (Check all that apply) </ion-item>

    </ion-list>

    <div ng-repeat='(name, value) in ASA13'>

      <label class='item item-input'>

        <ion-checkbox class='item item-text-wrap'>{{name}}: {{value}}</ion-checkbox>

      </label>

    </div>


    <ion-list>

      <ion-item class='item item-text-wrap'>ASA 14: Short Term Pain Management (Age 10 and over; Check all that apply) </ion-item>

    </ion-list>

    <div ng-repeat='(name, value) in ASA14'>

      <label class='item item-input'>

        <ion-checkbox class='item item-text-wrap'>{{name}}: {{value}}</ion-checkbox>

      </label>

    </div>


    <ion-list>

      <ion-item class='item item-text-wrap'>ASA 20: Surgical Safety Checklist (Check all that apply) </ion-item>

    </ion-list>

    <div ng-repeat='(name, value) in ASA20'>

      <label class='item item-input'>

        <ion-checkbox class='item item-text-wrap'>{{name}}: {{value}}</ion-checkbox>

      </label>

    </div>


    <ion-list>

      <ion-item class='item item-text-wrap'>ASA 35: Day of Surgery Case Cancellation Rate (Check all that apply) </ion-item>

    </ion-list>

    <div ng-repeat='(name, value) in ASA35'>

      <label class='item item-input'>

        <ion-checkbox class='item item-text-wrap'>{{name}}: {{value}}</ion-checkbox>

      </label>

    </div>


    <ion-list>

      <ion-item class='item item-text-wrap'>PQRS 76: Prevention of CVC related Bloodstream Infection </ion-item>

    </ion-list>

    <div ng-repeat='(name, value) in PQRS76'>

      <label class='item item-input'>

        <ion-checkbox class='item item-text-wrap'>{{name}}: {{value}}</ion-checkbox>

      </label>

    </div>


    <ion-list>

      <ion-item class='item item-text-wrap'>PQRS 404: Smoking Abstinence (Age 18 or over; Check all that apply)</ion-item>

    </ion-list>

    <div ng-repeat='(name, value) in PQRS404'>

      <label class='item item-input'>

        <ion-checkbox class='item item-text-wrap'>{{name}}: {{value}}</ion-checkbox>

      </label>

    </div>


    <ion-list>

      <ion-item class='item item-text-wrap'>PQRS 424: Perioperative Temp. Mgmt (GA or Neuraxial; Check all that apply)</ion-item>

    </ion-list>

    <div ng-repeat='(name, value) in PQRS424'>

      <label class='item item-input'>

        <ion-checkbox class='item item-text-wrap'>{{name}}: {{value}}</ion-checkbox>

      </label>

    </div>


    <ion-list>

      <ion-item class='item item-text-wrap'>PQRS 426: Transfer of Care to PACU (Check all that apply)</ion-item>

    </ion-list>

    <div ng-repeat='(name, value) in PQRS426'>

      <label class='item item-input'>

        <ion-checkbox class='item item-text-wrap'>{{name}}: {{value}}</ion-checkbox>

      </label>

    </div>


    <ion-list>

      <ion-item class='item item-text-wrap'>PQRS 427: Post-Anesthetic Transfer of Care (Check all that apply)</ion-item>

    </ion-list>

    <div ng-repeat='(name, value) in PQRS427'>

      <label class='item item-input'>

        <ion-checkbox class='item item-text-wrap'>{{name}}: {{value}}</ion-checkbox>

      </label>

    </div>

  <ion-item href='#/tab/chats'>

    <button class='button button-full' ng-click='addCase()'>
      Save
    </button>

  </ion-item>

  </ion-content>

</ion-view>
