<ion-view view-title="Cases ">
  <ion-content>
    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-left" ng-repeat="pt in chats" type="item-text-wrap" href="#/tab/chats/{{pt.mrn}}">

        <i class='icon ion-clipboard'></i>

        <h2>{{pt.name}}</h2>

        <p>MRN: {{pt.mrn}}</p>

        <p>DOS: {{pt.dos}}</p>

        <ion-option-button class="button-assertive" ng-click="remove(pt)">

          Delete

        </ion-option-button>

      </ion-item>

      <ion-item href='#/tab/chats/new-case'>

        <i class='icon ion-plus-circled'></i>

        New Case

      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>
